# Pandas Review using a Pokemon Dataset

In [53]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/\
194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

In [54]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### Practice Exercises

#### 1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

df.column

In [55]:
df.shape

(800, 13)

In [56]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [57]:
df.describe(include='all')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
count,800.000000,800,800,414,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800
unique,NaN,800,18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,Bulbasaur,Water,Flying,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
freq,NaN,1,112,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735
mean,362.813750,NaN,NaN,NaN,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,NaN
std,208.343798,NaN,NaN,NaN,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,NaN
min,1.000000,NaN,NaN,NaN,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,NaN
25%,184.750000,NaN,NaN,NaN,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,NaN
50%,364.500000,NaN,NaN,NaN,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,NaN
75%,539.250000,NaN,NaN,NaN,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,NaN
max,721.000000,NaN,NaN,NaN,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,NaN

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

#### 2. Change all the column names
      - lowercase letters
      - remove whitespace
      - remove periods

In [59]:
df = df.rename(columns=lambda x: x.lower().replace(' ', '').replace('.', ''))
df

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### 3. What is the highest HP value present?

In [15]:
df.HP.max()

255

In [17]:
df.HP.nlargest(1)

261    255
Name: HP, dtype: int64

#### 4. Which Pokemon possess(es) the highest HP value?
- note: the `name` column is the pokemon name

In [37]:
#df.Name[df.Name == df.HP.nlargest(1)]

max_hp = df['hp'].max()
pokemon_max_hp = df[df['hp'] == max_hp]['name']
print(pokemon_max_hp)

261    Blissey
Name: name, dtype: object

#### 5. How many different types are represented in Type 1? What are they?

In [43]:

types = df['type1'].unique()
types

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [42]:
len(types)

18

#### 6. Number of Pokemon whose Type 2 is Ghost

In [60]:
len(df[df['type2'] == 'Ghost'])

14

#### 7. Percentage of Pokemon whose Type 2 is Ghost

In [52]:
num_ghost = len(df[df['type2'] == 'Ghost'])
total_pokemon = len(df)
percent_ghost = (num_ghost / total_pokemon) * 100
print(percent_ghost)

1.7500000000000002

#### 8. Number of Pokemon whose Attack is greater than Defense

In [67]:
len(df[df['attack'] > df['defense']])

433

#### 9. What is the slowest speed for Grass type (either type 1 or type 2)

In [69]:
grass_pokemon = df[(df['type1'] == 'Grass') | (df['type2'] == 'Grass')]
slowest_speed = grass_pokemon['speed'].min()
slowest_speed

10

#### 10. Find the average speed by Generation

In [73]:
avg_speed_by_generation = df.groupby('generation')['speed'].mean()
print(avg_speed_by_generation)

generation
1    72.584337
2    61.811321
3    66.925000
4    71.338843
5    68.078788
6    66.439024
Name: speed, dtype: float64

#### 11. How many LEGENDARY Pokemon are DRAGON type?

In [74]:
num_legendary_dragon = len(df[(df['type1'] == 'Dragon') | (df['type2'] == 'Dragon') & (df['legendary'] == True)])
print(num_legendary_dragon)

36

In [ ]:
df.totalb