In [1]:
from pydataset import data
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = data('tips')

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
1         16.99  1.01  Female     No   Sun  Dinner     2
2         10.34  1.66    Male     No   Sun  Dinner     3
3         21.01  3.50    Male     No   Sun  Dinner     3
4         23.68  3.31    Male     No   Sun  Dinner     2
5         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
240       29.03  5.92    Male     No   Sat  Dinner     3
241       27.18  2.00  Female    Yes   Sat  Dinner     2
242       22.67  2.00    Male    Yes   Sat  Dinner     2
243       17.82  1.75    Male     No   Sat  Dinner     2
244       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
What is the highest bill?

In [8]:
df.iloc[171,5]

'Dinner'

ysmoker = len(df[df.smoker == 'Yes'])

In [12]:
ysmoker/244

0.38114754098360654

In [ ]:
- What proportion of the bills are from the weekend (Saturday and/or Sunday)?
- Round your answer to two decimal points.

In [15]:
len(df[df.day == 'Sat'])

87

In [16]:
len(df[df.day == 'Sun'])

76

In [28]:
total_weekend =(len(df[df.day == 'Sat']))+(len(df[df.day == 'Sun']))

In [24]:
(87+76)/(244)

0.6680327868852459

In [30]:
total_weekend/df.shape[0]

0.6680327868852459

In [20]:
df.shape[0]

244

In [ ]:
mpg['mileage_difference'] = mpg['highway']-mpg['city']

In [ ]:
-  Create a column named `percent_tip`.

In [32]:
df['percent_tip']= df.tip/df.total_bill

In [33]:
df

     total_bill   tip     sex smoker   day    time  size  percent_tip
1         16.99  1.01  Female     No   Sun  Dinner     2     0.059447
2         10.34  1.66    Male     No   Sun  Dinner     3     0.160542
3         21.01  3.50    Male     No   Sun  Dinner     3     0.166587
4         23.68  3.31    Male     No   Sun  Dinner     2     0.139780
5         24.59  3.61  Female     No   Sun  Dinner     4     0.146808
..          ...   ...     ...    ...   ...     ...   ...          ...
240       29.03  5.92    Male     No   Sat  Dinner     3     0.203927
241       27.18  2.00  Female    Yes   Sat  Dinner     2     0.073584
242       22.67  2.00    Male    Yes   Sat  Dinner     2     0.088222
243       17.82  1.75    Male     No   Sat  Dinner     2     0.098204
244       18.78  3.00  Female     No  Thur  Dinner     2     0.159744

[244 rows x 8 columns]

In [34]:
df.total_bill.mean()

19.785942622950824

In [38]:
df.groupby(by='time').total_bill.mean()

time
Dinner    20.797159
Lunch     17.168676
Name: total_bill, dtype: float64

In [42]:
df=df.rename(columns= {'size':'table_size'})
df

     total_bill   tip     sex smoker   day    time  table_size  percent_tip
1         16.99  1.01  Female     No   Sun  Dinner           2     0.059447
2         10.34  1.66    Male     No   Sun  Dinner           3     0.160542
3         21.01  3.50    Male     No   Sun  Dinner           3     0.166587
4         23.68  3.31    Male     No   Sun  Dinner           2     0.139780
5         24.59  3.61  Female     No   Sun  Dinner           4     0.146808
..          ...   ...     ...    ...   ...     ...         ...          ...
240       29.03  5.92    Male     No   Sat  Dinner           3     0.203927
241       27.18  2.00  Female    Yes   Sat  Dinner           2     0.073584
242       22.67  2.00    Male    Yes   Sat  Dinner           2     0.088222
243       17.82  1.75    Male     No   Sat  Dinner           2     0.098204
244       18.78  3.00  Female     No  Thur  Dinner           2     0.159744

[244 rows x 8 columns]

In [43]:
df.table_size

1      2
2      3
3      3
4      2
5      4
      ..
240    3
241    2
242    2
243    2
244    2
Name: table_size, Length: 244, dtype: int64

In [49]:
df.table_size.

6

In [ ]:
num_legendary_dragon = len(df[(df['type1'] == 'Dragon') | (df['type2'] == 'Dragon') & (df['legendary'] == True)])
print(num_legendary_dragon)

In [69]:
df.day[df.day =='Thur' and df.time =='Dinner']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [85]:
#df[(df.day == 'Thur') & (df.time =='Dinner')]
df.time.groupby(by='day')

KeyError: 'day'

In [87]:
df.total_bill.describe()

count    244.000000
mean      19.785943
std        8.902412
min        3.070000
25%       13.347500
50%       17.795000
75%       24.127500
max       50.810000
Name: total_bill, dtype: float64

In [88]:
import matplotlib.pyplot as plt

In [ ]:
df.plot.sccatter(x=)